.header {
    nav {
        padding: 24px;
    }
    &__logo {
        img {

        }
    }

    &__menu { //mobile menu
        > span {
            display: block;
            width: 26px;
            height: 2px;
            background-color: $darkBlue;
            &:not(:last-child){
                margin-bottom: 3px;
            }
        }

    }

    &__links {
        a {
            // 14 heightText x 16
            font-size: $font-sm;
            color: $grayishBlue;
        }
    }

    &__cta {
        font-size: $font-sm;
    }
}